#!/usr/bin/make -f
# -*- makefile-gmake -*-
#
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
# This has to be exported to make some magic below work.
export DH_OPTIONS

export DEB_BUILD_MAINT_OPTIONS=reproducible=-timeless

%:
	dh $@ --with gir --buildsystem=meson+ninja

override_dh_auto_configure:
	dh_auto_configure			\
	  --					\
	  --buildtype=debugoptimized		\
	  --default-library=both		\
	  -Ddoc=true				\
	  -Dvapi=true
